*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Fredoka', sans-serif;
  width: 60%;
  margin: 60px auto;

}

/* header */

h1{
  background-color: grey;
  color: rgb(229, 49, 112);
  text-align: center;
  font-size: 3rem;
}

/* Section 1 */

.main-text{
  margin-top: 60px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

/* Section 2 */

.card-float{
  margin-top: 60px;
}

.foto{
  width: 150px;
  height: 150px;
  background-color: blue;
  display: inline-block;
}

.info{
  color: white;
  width: 320px;
  height: 150px;
  background-color: black;
  padding: 20px
  display: inline-block;
}



img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.name{
  font-size: 1.5rem;
  font-weight: bold;
}

.job, .email{
  font-size: 1.2rem;
}

.info{
  vertical-align: middle;
}

div p{
  padding-bottom: 15px;
}