*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Fredoka', sans-serif;
  width: 60%;
  margin: 50px auto;

}

/* header */

h1{
  color: rgb(229, 49, 112);
  text-align: center;
  font-size: 3rem;
}

/* Section 1 */

.main-text{
  margin-top: 60px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

/* Section 2 */

.card-float{
  margin-top: 30px;
}

img{
  width: 150px;
  /* height: 150px; */
  /* object-fit: contain; */
}

.name{
  font-size: 1.5rem;
  font-weight: bold;
}

.job, .email{
  font-size: 1.2rem;
}

div p{
  padding-bottom: 15px;
}

.tab{
  width: calc(100% / 3 - 40px);
  margin: 40px 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  /* min-width: 420px; */

}

.foto{
  width: 100px;
  height: 100px;
  /* background-color: blue; */
}

.info{
  color: white;
  width: calc(100% - 100px);
  height: 150px;
  background-color: rgb(15, 14, 23);
  padding: 20px;
}

a{
  text-decoration: none;
  color: rgb(95, 194, 235);
}